 <!-- advise section starts -->
<section class="advises">
  <hr class="hr">
  
  <h1>Tư vấn du học</h1>
 
  <div class="advise-list">
    <div class="column">
      <div class="advise-item">
          <a href="/advises/thong-tin-du-hoc-tai-singapore-moi-nhat">
        <img width="300px" height="200px" src="https://res.cloudinary.com/hrnedu/image/upload/v1641656495/t%C6%B0%20v%E1%BA%A5n/a9_qyvflr.jpg" alt="" srcset="">
        </a>
        <p>Đăng bởi Admin, ngày 10/01/2022</p>
        <a href="/advises/thong-tin-du-hoc-tai-singapore-moi-nhat"><h3>Thông tin du học tại Singapore mới nhất</h3></a>
        <p>Du học Singapore có chất lượng giáo dục cực kỳ đảm bảo với hệ thống các trường tư thục rộng khắp đất nước.</p>
      </div>
      <div class="advise-item">
        <a href="/advises/dieu-kien-va-chi-phi-du-hoc-tai-singapore">
        <img width="300px" height="200px" src="https://res.cloudinary.com/hrnedu/image/upload/v1641656736/t%C6%B0%20v%E1%BA%A5n/a10_ozoaha.jpg" alt="" srcset="">
        </a>
        <p>Đăng bởi Admin, ngày 10/01/2022</p>
        <a href="/advises/dieu-kien-va-chi-phi-du-hoc-tai-singapore"><h3>Các điều kiện và chi phí cần cho du học tại Singapore.</h3></a>
        <p> Chi phí du học Singapore sẽ tùy vào chương trình, bậc học (cao đẳng, cử nhân hay thạc sĩ) mà sẽ có những bảng giá khác nhau.</p>
      </div>

    </div>
  
    <div class="column">
      <div class="advise-item">
          <a href="/advises/hoc-bong-danh-cho-du-hoc-sinh-tai-singapore-moi-nhat">
        <img width="300px" height="200px" src="https://res.cloudinary.com/hrnedu/image/upload/v1641657126/t%C6%B0%20v%E1%BA%A5n/a13_r8gf6s.jpg" alt="" srcset="">
        </a>
        <p>Đăng bởi Admin, ngày 10/01/2022</p>
        <a href="/advises/hoc-bong-danh-cho-du-hoc-sinh-tai-singapore-moi-nhat"><h3>Học bổng dành cho du học sinh tại Singapore mới nhất</h3></a>
        <p>Học bổng du học Singapore 100%. và cơ hội ở lại làm việc với mức lương cao sau khi tốt nghiệp.</p>
      </div>
      <div class="advise-item">
          <a href="/advises/tim-hieu-ve-he-thong-giao-duc-tai-singapore">
        <img width="300px" height="200px" src="https://res.cloudinary.com/hrnedu/image/upload/v1641657283/t%C6%B0%20v%E1%BA%A5n/a14_bhgzqa.jpg" alt="" srcset="">
        </a>
        <p>Đăng bởi Admin, ngày 10/01/2022</p>
        <a href="/advises/tim-hieu-ve-he-thong-giao-duc-tai-singapore"><h3>Tìm hiểu về hệ thống giáo dục tại Singapore</h3></a>
        <p>Hệ thống giáo dục Singapore là sự lựa chọn của rất nhiều bạn trẻ mong muốn đi du học ở một nước tiên tiến ngay tại Châu Á.</p>
      </div>
    </div>
 
    
   
  </div>
   <div class="more">
  <a  href="/advises">
    Xem thêm
   <i class="fas fa-chevron-right"></i>
  </a>
  </div>
</section>
<!-- advise section ends -->
