<!-- blogs section starts -->
  <section class="blogs">
    <h1>
      Tin tức mới nhất
    </h1>
    <div class="blogs-content">
      <div class="blog-list">
        <a href="/news/hanh-trang-can-chuan-bi-truoc-khi-len-may-bay-du-hoc-singapore">
        <img class="wider" src="https://res.cloudinary.com/hrnedu/image/upload/v1641655170/tin%20t%E1%BB%A9c/a2_tx3mdv.jpg"  alt="">
        </a>
    
        <a href="/news/hanh-trang-can-chuan-bi-truoc-khi-len-may-bay-du-hoc-singapore">
        <h3>Du học sinh cần chuẩn bị hành trang gì khi đi du học?</h3>
      </a>
      <p>Để chuẩn bị tốt cho một hành trình mới, học sinh cần chuẩn bị hành trang, và giấy tờ cần thiết...</p>
      </div>
      <div class="blog-list blog-list-respon">
        <div class="blog-item">
          <a href="/news/co-nen-chon-singapore-la-diem-den-du-hoc-hay-khong">
            <img src="https://res.cloudinary.com/hrnedu/image/upload/v1641654786/tin%20t%E1%BB%A9c/a1_fgyz7g.jpg"  alt="">
            </a>
          <div class="item-title">
            
            <a href="/news/co-nen-chon-singapore-la-diem-den-du-hoc-hay-khong">
              <h3>Tại sao bạn nên chọn Singapore là điểm đến du học?</h3>
            </a>
            <p>Hãy cùng tìm hiểu những lý do bạn nên du học ở Singapore...</p>
          </div>
        </div>
        <div class="blog-item">
          <a href="">
            <img src="https://res.cloudinary.com/hrnedu/image/upload/v1641655323/tin%20t%E1%BB%A9c/a3_cvrdfz.jpg"  alt="">
            </a>
          <div class="item-title">
            
            <a href="">
              <h3>Hướng dẫn thủ tập nhập cảnh tại sân bay Changi - Singapore</h3>
            </a>
            <p>Chúng tôi sẽ hướng dẫn bạn cách nhập cảnh, và điền thủ tục tại Singapore.</p>
          </div>
        </div>
        <div class="blog-item">
          <a href="/news/co-nen-chon-singapore-la-diem-den-du-hoc-hay-khong">
            <img src="https://res.cloudinary.com/hrnedu/image/upload/v1641655698/tin%20t%E1%BB%A9c/a5_ez0tyq.jpg"  alt="">
            </a>
          <div class="item-title">
            
            <a href="/news/co-nen-chon-singapore-la-diem-den-du-hoc-hay-khong">
              <h3>Những điều cần biết khi đi du học tại Singapore</h3>
            </a>
            <p>Khám phá những điều bạn cần biết trước khi cất cánh du học tại đất nước Singapore.</p>
          </div>
        </div>
      
      
       
      </div>
      <div class="blog-list">
        <div class="blog-item">
          
          <a href="/news/chia-se-kinh-nghiem-tim-viec-lam-sau-khi-tot-nghiep-du-hoc-singapore">
            <img src="https://res.cloudinary.com/hrnedu/image/upload/v1641655898/tin%20t%E1%BB%A9c/a6_uhi7se.jpg"  alt="">
            </a>
          <div class="item-title">
            
            <a href="/news/chia-se-kinh-nghiem-tim-viec-lam-sau-khi-tot-nghiep-du-hoc-singapore">
              <h3>Chia sẻ kinh nghiệm tìm việc làm sau khi tốt nghiệp Du học Singapore</h3>
            </a>
            <p>Bài viết này sẽ chia sẻ bạn một vài kinh nghiệm tìm việc tại Singapore...</p>
          </div>
        </div>
        <div class="blog-item">
          <a href="/news/du-hoc-tai-singapore-co-can-phai-kham-suc-kh-e">
            <img src="https://res.cloudinary.com/hrnedu/image/upload/v1641656039/tin%20t%E1%BB%A9c/a7_qr0fkn.jpg"  alt="">
            </a>
          <div class="item-title">
            
            <a href="/news/du-hoc-tai-singapore-co-can-phai-kham-suc-kh-e">
              <h3>Du học tại Singapore có cần phải khám sức khỏe?</h3>
            </a>
            <p>Cùng tìm hiểu thêm quy trình khám sức khỏe du học tại Singapore.</p>
          </div>
        </div>
        <div class="blog-item">
          <a href="/news/bi-quyet-tiet-kiem-tien-khi-di-hoc-tai-singapore">
            <img src="https://res.cloudinary.com/hrnedu/image/upload/v1641656189/tin%20t%E1%BB%A9c/a8_j2utqv.jpg"  alt="">
            </a>
          <div class="item-title">
            
            <a href="/news/bi-quyet-tiet-kiem-tien-khi-di-hoc-tai-singapore">
              <h3>Mẹo vặt tiết kiệm chi phí du học Singapore</h3>
            </a>
            <p>Những bí quyết giúp bạn tiết kiệm chi phí khi du học tại Singapore.</p>
          </div>
        </div>
       
      
       
      </div>
    </div>
     <div class="more">
  <a  href="/notebook">
    Xem thêm
   <i class="fas fa-chevron-right"></i>
  </a>
  </div>

  </section>
  <!-- blogs section ends -->