 <!-- testimonial  section starts -->
<section class="testimonial">
  <hr class="hr">
  
  <h1>Phản hồi của khách hàng</h1>
 
  <div class="testimonial-list">

    <div class="testimonial-item">
      <img width="360px"  src="https://res.cloudinary.com/dzyqgwme9/image/upload/v1640076732/02_kgaqum.png" alt="" srcset="">
      {{!-- <h2>Jin Nguyen</h2>
      <h3>Du học sinh</h3> --}}
    </div>
    <div class="testimonial-item">
       <img width="360px"  src="https://res.cloudinary.com/dzyqgwme9/image/upload/v1640076732/03_nqwmiy.png" alt="" srcset="">
      {{!-- <h2>Jin Nguyen</h2>
      <h3>Du học sinh</h3> --}}
    </div>
    <div class="testimonial-item">
       <img width="360px"  src="https://res.cloudinary.com/dzyqgwme9/image/upload/v1640076732/01_uyw6ao.png" alt="" srcset="">
      {{!-- <h2>Jin Nguyen</h2>
      <h3>Du học sinh</h3> --}}
    </div>
   
   
  </div>

  <div>

  <div class="more">
  <a  href="/feedbacks">
    Xem thêm
   <i class="fas fa-chevron-right"></i>
  </a>
  </div>
</section>
  <!-- testimonial  section starts -->