
      <section class="footer">
        <div class="box-container">
          <div class="box">
            <h3>Du Học Henry Nguyen</h3>
            <p>
              <q id="quote">
                Bạn càng đọc nhiều, bạn càng biết nhiều. Bạn càng học nhiều, bạn
                càng đi nhiều. - Dr Seuss
              </q>
            </p>
            <div class="share">
              <a
                href="https://www.facebook.com/Trung-t%C3%A2m-Anh-Ng%E1%BB%AF-Du-h%E1%BB%8Dc-Singapore-Henry-Nguyen-1898181863631359"
                target="_blank"
                class="fab fa-facebook-f"
              ></a>
              <a
                href="https://api.whatsapp.com/send?phone=840905960490"
                target="_blank" 
                class="whatsapp fab fa-whatsapp"
              ></a>
              <a
                href="https://api.whatsapp.com/send?phone=840905960490"
                target="_blank" 
                class="fab fa-viber"
              >
              
              </a>
            </div>
          </div>

          <div class="box">
            <h3>Thông tin liên hệ</h3>
            <a href="tel:0905960490" class="links">
              <i class="fas fa-phone"></i> 0905960490
            </a>
            <a href="mailto:info.dhtm@gmail.com" class="links">
              <i class="fas fa-envelope"></i>info.dhtm@gmail.com
            </a>
            <a href="https://goo.gl/maps/HoYqovsGmHzwExBz9" target="_blank" rel="noopener noreferrer" class="links">
              <i class="fas fa-map-marker-alt"></i>74 Nguyễn Văn Linh, Hải Châu, Đà
              Nẵng
            </a>
          </div>

          <div class="box">
            <h3>Truy cập nhanh</h3>
            <a href="/" class="links">
              <i class="fas fa-arrow-right"></i> Trang chủ
            </a>
            <a href="/advises" class="links">
              <i class="fas fa-arrow-right"></i> Tư vấn du học
            </a>
            <a href="/institute-list" class="links">
              <i class="fas fa-arrow-right"></i> Danh sách trường
            </a>
            <a href="/notebook" class="links">
              <i class="fas fa-arrow-right"></i> Tin tức
            </a>
          </div>
        </div>

        <div class="credit">
          Phát triển | bảo trì bởi <span>Samson Nguyen</span>
        </div>
      </section>

      <!-- footer section ends --> 