<!-- HEADER PART START -->

<header class="header">
 {{>navbar}}

  <div class="bg-slider">
   
    <img
      class="mySlides"
      width="100%"
      height="100%"
      src="https://www.idp.com/medias/carousel-banner.jpg?context=bWFzdGVyfGltYWdlc3w4MDI5N3xpbWFnZS9qcGVnfGltYWdlcy9oMjIvaDQ4LzEwMDA2NzMwODAxMTgyLmpwZ3xhOGU2MzljYzM3MzU1ZTEzZjNjMjM0MGZiODI5ZGMyZDk3MTQwNmRhNjViYmI5ZTA0N2U0OWIxZDQzNzg5NGVi"
      alt=""
      srcset=""
    />
   
    <img
      class="mySlides"
      width="100%"
      height="100%"
      src="https://res.cloudinary.com/hrnedu/image/upload/v1641730273/home/b4_xe2atv.jpg"
      alt=""
      srcset=""
    
    />
   
    <img
      class="mySlides"
      width="100%"
      height="100%"
      src="https://res.cloudinary.com/hrnedu/image/upload/v1641727234/home/marina-bay-sands-wallpaper-full-hd-1920x1080-482791_pnmyio.jpg"
      alt=""
      srcset=""
     
    />

  
    <div class="btn-slide">
      <button class="left" onclick="plusDivs(-1)">&#10094;</button>
      <button class="right" onclick="plusDivs(1)">&#10095;</button>
    </div>
     <div class="bottom-left"> 
   <h3>Chương trình du học</h3>
          <h1> Singapore</h1>
          <p>Nhiều ưu đãi và học bổng dành cho các suất đăng ký ngay hôm nay.</p>
           {{!-- <button class="main-btn bg-btn">Đăng ký tư vấn</button> --}}
         
         </div> 

  </div>
</header>



