<div class="home">
    <div class="container-fluid">
        <div class="row">
            <div class="content">
                <div class="col-lg-6 col-sm-12 text-box">
                    <div class="text-box-item">
                        <h2 class="content-title">Chúng tôi sẽ giúp bạn <span>xây dựng</span> ước mơ của chính
                            mình
                        </h2>
                        <p>Chúng tôi luôn sẵn sàng tư vấn và đưa ra định hướng du học cho bạn. Hãy cho chúng tôi
                            cơ
                            hội được hổ trợ bạn cho con đường du học hôm nay và tìm ra cơ hội nghề nghiệp tốt
                            hơn
                            cho ngày mai.
                        </p>
                        <a class="main-btn" data-scroll-nav="0" href="/contact">Đăng ký tư vấn</a>

                        <div class="list-icon">
                            <a  href="https://www.facebook.com/Trung-t%C3%A2m-Anh-Ng%E1%BB%AF-Du-h%E1%BB%8Dc-Singapore-Henry-Nguyen-1898181863631359" target="_blank"><i class=" fab fa-facebook-f"></i></a>
                            <a href="https://api.whatsapp.com/send?phone=840905960490" target="_blank"><i class="whatsapp fab fa-whatsapp"></i></a>
                            <a href="mailto:info.dhtm@gmail.com"><i class="email far fa-envelope"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 img-box">
                    <div class="img-box-item">
                        <img src="/img/bg01.png" alt="" srcset="">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>