 <!-- content section starts -->
  <section class="content">
    <div class="content-item">
      <i class="fas fa-eye"></i>
      <h1>Sứ mệnh và tầm nhìn</h1>
      <p>- Công ty TNHH MTV Henry Nguyen thành lập với sứ mệnh
         "Biến ước mơ du học của bạn thành hiện thực",
          tạo cơ hội cho học sinh Việt Nam được 
          tham gia vào chương trình học tiên tiến tại Singapore với mức chi phí siêu tiết kiệm.
      </p>
    </div>
    <div class="content-item">
      <i class="fas fa-compass"></i>
      <h1>Định hướng du học</h1>
      <p>- Tư vấn ngành học phù hợp với khả năng và nguyện vọng học tập của du học sinh.</p>
      <p>- Được hỗ trợ và tư vấn tài chính phù hợp với từng hoàn cảnh.</p>
      <p>- Cơ hội nhận học bổng các trường danh tiếng tại Singapore.</p>
    </div>
    <div class="content-item">
      <i class="fas fa-question-circle"></i>
      <h1>Đến với Henry Nguyen</h1>
      <p>- Học sinh sẽ được hướng dẫn nhập cảnh và chổ ở, đi lại tại Singapore.</p>
      <p>- Hỗ trợ trong suốt quá trình học tập tại Singapore.</p>
      <p>- Quý phụ huynh được hỗ trợ thủ tục đi thăm con, đi du lịch.</p>

    </div>
   
  </section>
  <!-- introduce section ends -->