 <!-- topbar section starts -->
  <div class="topbar">
    <div class="left-topbar">
      <ul class="topbar-info">
        <li>
          <i class="fas fa-map-marker-alt"></i>
          <a>74 Nguyễn Văn Linh, Hải Châu, Đà Nẵng</a>
        </li>
        <li>
          <i class="fas fa-phone"></i>
          <a href="tel:0905960490"> 0905960490</a>
        </li>
        <li>
          <i class="fas fa-envelope"></i>
          <a href="mailto:info.dhtm@gmail.com"> info.dhtm@gmail.com</a>
        </li>
      </ul>
    </div>
    <div class="right-topbar">
      <ul class="topbar-info">
        <li>
          <a
            href="https://www.facebook.com/Trung-t%C3%A2m-Anh-Ng%E1%BB%AF-Du-h%E1%BB%8Dc-Singapore-Henry-Nguyen-1898181863631359"
            target="_blank"
          ><i class="fab fa-facebook-square"></i></a>
        </li>
        <li>
          <a
            href="https://api.whatsapp.com/send?phone=840905960490"
            target="_blank"
          ><i class="whatsapp fab fa-whatsapp"></i></a>
        </li>
        <li>
          <a
            href="https://api.whatsapp.com/send?phone=840905960490"
            target="_blank"
          ><i class="fab fa-viber"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <!-- topbar section ends -->
  <!-- navbar section starts -->
  <div id="navbar">
    <div class="navbar-logo">
         <a href="/">
      
      <img
        src="https://res.cloudinary.com/hrnedu/image/upload/v1641654086/home/main-logo_tuekdl.png"
        width="200"
        alt=""
      />
         
    </div>
    <div class="navbar-menu">

      <ul class="navbar-list">

        <li><a href="/about">Giới thiệu</a></li>

        <li class="dropdown-list">
          <a href="/institute-list">
            Các trường Singapore
            <i class="fas fa-chevron-down arrow-icon"></i></a>

          <ul class="dropdown-item list-item psude80">
    
            <li><a href="/institutes/hoc-vien-psb-academy-du-hoc-singapore-2022" class="light">Học viện PSB
                Singapore</a></li>
            <li><a href="/institutes/tong-quan-ve-hoc-vien-kaplan-singapore" class="light">Học viện KAPLAN
                Singapore</a></li>
            <li><a href="/institutes/hoc-vien-amity-singapore-du-hoc-singapore-2022" class="light">Học viện AMITY
                Singapore</a></li>
            <li><a href="/institutes/hoc-vien-shrm-singapore-du-hoc-singapore-2022" class="light">Học viện SHRM
                Singapore</a></li>
            <li><a href="/institutes/hoc-vien-sdh-singapore-du-hoc-singapore-2022" class="light">Học viện SDH
                Singapore</a></li>
            <li><a href="/institutes/hoc-vien-stanfort-singapore-du-hoc-singapore-2022" class="light">Học viện STANDFORT
                Singapore</a></li>
            <li><a href="/institutes/hoc-vien-erc-singapore-du-hoc-singapore-2022" class="light">Học viện ERC
                Singapore</a></li>
        
          </ul>
        </li>
        <li class="dropdown-list">
          <a href="/advises">Tư vấn du học</a>
        </li>
        <li><a href="/notebook">Tin tức</a></li>
        <li><a href="/feedbacks">Phản hồi khách hàng</a></li>
        <li><a href="/rents">Dịch vụ thuê phòng</a></li>
        <li><a href="/contact">Liên hệ</a></li>
      </ul>

    </div>
    <div class="fas fa-bars" id="menu-btn"></div>
  </div>
  <!-- navbar section ends -->