

<!-- school lists  section starts  -->
<section class="schools">
  <h1>Các trường tại Singapore</h1>
  <div class="schools-content">
  
    <div class="school-item">
      <a  href="http://">
        <img width="250px" src="https://netviethuman.com/wp-content/uploads/2021/05/KAPLAN-SINGAPORE.jpg" alt="" srcset="">
      </a>
    </div>
    <div class="school-item">
      <a href="http://">
        <img width="250px" src="https://i1.wp.com/postgrad.com.sg/wp-content/uploads/2019/10/School-Cover-Image_PSB.png?fit=1600%2C1046&ssl=1" alt="" srcset="">
      </a>
  
    </div>
    <div class="school-item">

      <a href="http://">
        <img  width="250px" src="https://i1.wp.com/postgrad.com.sg/wp-content/uploads/2019/10/School-Cover-Image_Amity.png?fit=3334%2C2178&ssl=1" alt="" srcset="">
      </a>
    </div>
    <div class="school-item">
      <a href="http://">
        <img width="250px" src="https://www.nganhaxanh.com/wp-content/uploads/2019/07/shrm-college-2.png" alt="" srcset="">
      </a>
  
    </div>
  
 

  <div class="school-item">
    <a href="http://">
      <img width="250px" src="https://sdh.edu.sg/wp-content/uploads/2019/03/SDH-LOGO-2019-CMYK.png" alt="" srcset="">
    </a>
    </div>


    <div class="school-item">

      <a href="http://">
        <img width="250px" src="https://webduhoc.org.vn/wp-content/uploads/2019/11/Thi%E1%BA%BFt-k%E1%BA%BF-kh%C3%B4ng-t%C3%AAn-1.png" alt="" srcset="">
      </a>
    </div>
    <div class="school-item">
      <a href="http://">
        <img width="250px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTt87XTQJrhDC7-CvN_Q3sWi79bM3dh0iTAYf96FFXVYfXrdd0yA8vt0FqSXTE4j_vqwmc&usqp=CAU" alt="" srcset="">
      </a>
      
    </div>
 


 

</div>

 <div class="more">
  <a  href="/institute-list">
    Xem thêm
   <i class="fas fa-chevron-right"></i>
  </a>
  </div>
</section>
<!-- school lists  section ends  -->