<div class="sidebar">
          <div class="lastest-news">
            <h3>Tin tức nổi bật</h3>
            <div class="news-item">
              <a href="/news/bi-quyet-tiet-kiem-tien-khi-di-hoc-tai-singapore"><img width="100px" src="https://res.cloudinary.com/hrnedu/image/upload/v1641708544/tin%20t%E1%BB%A9c/a15_uwj6dm.jpg" alt=""></a>
              <a href="/news/bi-quyet-tiet-kiem-tien-khi-di-hoc-tai-singapore"><h4>Mẹo vặt tiết kiệm chi phí du học Singapore</h4></a>
            </div>
            <div class="news-item">
              <a href="/institutes/hoc-vien-psb-academy-du-hoc-singapore-2022"><img width="100px" src="https://res.cloudinary.com/hrnedu/image/upload/v1641710471/tr%C6%B0%E1%BB%9Dng%20h%E1%BB%8Dc/a17_otxbrg.jpg" alt=""></a>
              <a href="/institutes/hoc-vien-psb-academy-du-hoc-singapore-2022"><h4>Học viện PSB Academy: Học viện tư thục lớn nhất Singapore</h4></a>
            </div>
            <div class="news-item">
              <a href="/news/co-nen-chon-singapore-la-diem-den-du-hoc-hay-khong"><img width="100px" src="https://res.cloudinary.com/hrnedu/image/upload/v1641654786/tin%20t%E1%BB%A9c/a1_fgyz7g.jpg" alt=""></a>
              <a href="/news/co-nen-chon-singapore-la-diem-den-du-hoc-hay-khong"><h4>Top những lý do nên chọn Singapore để du học</h4></a>
            </div>
            <div class="news-item">
              <a href="/advises/hoc-bong-danh-cho-du-hoc-sinh-tai-singapore-moi-nhat"><img width="100px" src="https://res.cloudinary.com/hrnedu/image/upload/v1641712335/tin%20t%E1%BB%A9c/a22_lxkkqr.jpg" alt=""></a>
              <a href="/advises/hoc-bong-danh-cho-du-hoc-sinh-tai-singapore-moi-nhat"><h4>Học bổng dành cho du học sinh tại Singapore mới nhất</h4></a>
            </div>
            <div class="news-item">
              <a href="/advises/dieu-kien-va-chi-phi-du-hoc-tai-singapore"><img width="100px" src="https://res.cloudinary.com/hrnedu/image/upload/v1641656736/t%C6%B0%20v%E1%BA%A5n/a10_ozoaha.jpg" alt=""></a>
              <a href="/advises/dieu-kien-va-chi-phi-du-hoc-tai-singapore"><h4>Các điều kiện và chi phí cần cho du học tại Singapore.</h4></a>
            </div>
           

          </div>
          <div class="media-img">
            {{!-- <img src="https://hisa.edu.vn/wp-content/uploads/2019/08/banner-sidebar.jpg" alt="" srcset=""> --}}
            <div class="fb-page media" data-href="https://www.facebook.com/Trung-t%C3%A2m-Anh-Ng%E1%BB%AF-Du-h%E1%BB%8Dc-Singapore-Henry-Nguyen-1898181863631359" data-tabs="timeline" data-width="260px" data-height="450px" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Trung-t%C3%A2m-Anh-Ng%E1%BB%AF-Du-h%E1%BB%8Dc-Singapore-Henry-Nguyen-1898181863631359" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Trung-t%C3%A2m-Anh-Ng%E1%BB%AF-Du-h%E1%BB%8Dc-Singapore-Henry-Nguyen-1898181863631359">Trung tâm Anh Ngữ &amp; Du học Singapore Henry Nguyen</a></blockquote></div>
          </div>
          <!-- <div class="media-img">
            <img src="https://hisa.edu.vn/wp-content/uploads/2019/08/banner-sidebar.jpg" alt="" srcset="">
          </div> -->
        
        </div>