<header class="header">

{{>navbar}}

</header>

<!-- ABOUT PART START -->
    <section class="about">
      <div class="about-content">
        <h2 class="">Về Chúng Tôi </h2>
        <div class="about-desc">
          <p>
            - Công ty TNHH MTV Henry Nguyen được thành lập vào năm 2017, trải
            qua hơn 3 năm đi vào hoạt động công ty chúng tôi thật vinh hạnh khi
            trở thành là một trong những công ty du học được quý phụ huynh và
            các em tin tưởng lựa chọn.
          </p>
          <p>
            - Với hơn 1000 em sinh viên trải dài khắp các tỉnh thành Việt Nam.
            Với những gì đã có, Henry Nguyễn xin gửi lời chân thành tới toàn thể
            các quý đối tác, khách hàng, các bậc phụ huynh, các em sinh viên, du
            học sinh tại Singapore đã luôn đồng hành và ủng hộ HrN trong suốt
            thời gian qua.
          </p>
        </div>

        <img class="logo" src="/img/hrn-avatar.jpg" alt="" />
      </div>
     
      <div class="about-content">
      <h2 class="">Sứ Mệnh Và Tầm Nhìn </h2>
        
        <div class="about-desc">
          <p>
            - Công ty TNHH MTV Henry Nguyen được thành lập với sứ mệnh " Biến
            ước mơ du học của bạn thành hiện thực ", tạo cơ hội cho học sinh -
            sinh viên Việt Nam được tham gia vào chương trình học tiên tiến tại
            các trường đại học tại Singapore với mức chi phí siêu tiết kiệm.
          </p>
          <p>
            Với tiêu chí: " Thực học - Thực làm " đem lại hiệu quả cao, đánh giá
            đúng năng lực của từng học sinh - sinh viên. Henry Nguyen tự hào là
            đơn vị tư vấn du học uy tín, chất lượng, cam kết hỗ trợ tối đa lợi
            ích cho du học sinh.
          </p>
          <div class="about-list">
            <div class="about-list--item">
              <ul>
                <li>
                  <i class="fas fa-chevron-right"></i>
                  Tư vấn hoàn toàn MIỄN PHÍ.
                </li>
                <li>
                  <i class="fas fa-chevron-right"></i>
                  Dịch vụ visa nhanh chóng và hiệu quả.
                </li>
                <li>
                  <i class="fas fa-chevron-right"></i>
                  Được hỗ trợ tận tình trong các bước làm hồ sơ.
                </li>
              </ul>
            </div>
            <div class="">
              <ul>
                <li>
                  <i class="fas fa-chevron-right"></i>
                  Hỗ trợ đặt vé máy bay và đưa đón tại sân bay.
                </li>
                <li>
                  <i class="fas fa-chevron-right"></i>
                  Tư vấn, bố trí nhà ở và đưa đón sinh viên tại sân bay nước
                  ngoài.
                </li>
                <li>
                  <i class="fas fa-chevron-right"></i>
                  Quý phụ huynh được hỗ trợ thủ tục đi thăm du học sinh kết hợp
                  du lịch hoặc công tác.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="about-content">
        <h2 class="">Hình Ảnh Hoạt Động</h2>
        <div class="about-img">
          <div class="img-item">
            <img src="/img/HRN1.jpg" alt="" />

            <img src="/img/HRN2.jpg" alt="" />

            <img src="/img/HRN3.jpg" alt="" />

            <img src="/img/HRN4.jpg" alt="" />

            <img src="/img/HRN5.jpg" alt="" />

            <img src="/img/HRN6.jpg" alt="" />

            <img src="/img/HRN7.jpg" alt="" />

            <img src="/img/HRN8.jpg" alt="" />

            <img src="/img/HRN9.jpg" alt="" />

            <img src="/img/HRN10.jpg"  alt="" />

            <img src="/img/HRN11.jpg"  alt="" />

            <img src="/img/HRN12.jpg"  alt="" />
          </div>
        </div>
      </div>
      <div class="about-content">
        <h2 class="">Liên Hệ Tư Vấn</h2>
        <div class="about-contact">
          <p>
            Liên hệ với Du học Henry Nguyen - chúng tôi ngay hôm nay nếu bạn có
            dự định du học tại Singapore, chúng tôi luôn sẵn sàng hổ trợ miễn
            phí tư vấn và giải đáp các thắc mắc về giấy tờ , thủ tục chuẩn bị
            cho việc du học tại Singapore của bạn.
          </p>
          <p>Thông tin liên hệ</p>
          <div class="about-contact--list">
            <div class="about-contact--list-item">
              <ul>
                <li>
                  <i class="fas fa-phone"></i>
                  <a href="tel:0905960490"> 0905960490</a>
                </li>
                <li>
                  <i class="fas fa-envelope"></i>
                  <a href="mailto:info.dhtm@gmail.com"> info.dhtm@gmail.com</a>
                </li>
              </ul>
            </div>

            <div class="about-contact--list-item">
              <ul>
                <li>
                  <i class="fab fa-facebook-square"></i>
                  <a
                    href="https://www.facebook.com/Trung-t%C3%A2m-Anh-Ng%E1%BB%AF-Du-h%E1%BB%8Dc-Singapore-Henry-Nguyen-1898181863631359"
                    target="_blank" rel="noreferrer"
                  >
                    Du học Henry Nguyen
                  </a>
                </li>
                <li>
                  <i class="whatsapp fab fa-whatsapp"></i>
                  <a
                    href="https://api.whatsapp.com/send?phone=840905960490"
                    target="_blank" rel="noreferrer"
                  >
                    Whatsapp
                  </a>
                </li>
                <li>
                  <i class="fab fa-viber"></i>
                  <a
                    href="https://api.whatsapp.com/send?phone=840905960490"
                    target="_blank" rel="noreferrer"
                  >
                    Viber
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

{{>footer}}
    <script>


// menu responsive icon
let navbarBtn = document.querySelector(".navbar-list");

document.querySelector("#menu-btn").onclick = () => {
  navbarBtn.classList.toggle("active");
  //   navbarBtn.classList.toggle("active");
};

window.onscroll = () => {
  navbarBtn.classList.remove("active");
};
    
</script>