/* CONTENT */

.content-nb {
    width: 90%;
    margin: 30px auto 30px;
  }
  
  .content-nb .main-content {
    width: 65%;
    float: left;
  }
  

  .content-nb .main-content .post {
    display: flex;
    width: 95%;
    height: 270px;
    margin-bottom: 40px;
    border-radius: 4px;
    border: #cdcdcd 1px solid;
    background: white;
    position: relative;
  }
  
  .content-nb .popular .post {
    border-top: 1px solid #e0e0e0;
    margin-top: 10px;
    padding-top: 10px;
  }
  
  .content-nb .popular .post img {
    height: 60px;
    width: 75px;
    float: left;
    margin-right: 10px;
  }
  
  .content-nb .main-content .post .post-preview i {
    color: #000;
    font-size: .8em;
  }
  
  .content-nb .main-content .post .preview-text {
    line-height: 1.5em;
    font-size: 1.03em;
    color: #444;
  }
  
  .content-nb .main-content .post .read-more {
    position: absolute;
    bottom: 10px;
    right: 10px;
    border: 1px solid var(--primary-color);
    background: transparent;
    border-radius: 3px;
    color: var(--primary-color)!important;
  }
  
  .content-nb .main-content .post .read-more:hover {
    background: var(--primary-color);
    color: white !important;
    transition: .25s;
  }
  
  .content-nb .main-content .post .post-image {
    width: 420px;
    height: 100.1%;
    float: left;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  
  .content-nb .main-content .post .post-preview {
    width: 75%;
    padding: 10px 20px;
    float: right;
  }
  .content-nb .main-content .post .post-preview a,
  .post a {
    color: black;
    text-decoration: none;
  }
  .content-nb .main-content .post .post-preview a:hover,
  .post a:hover>h5 {
    color: #361CC1;
    text-decoration: none;
  }
  
  .content-nb .main-content .recent-post-title {
    margin-bottom: 50px ;
  }
  
  .content-nb .sidebar {
    width: 34%;
    float: left;
  }
  
  .content-nb .sidebar.single {
    padding: 0px 10px;
  }
  
  .content-nb .sidebar .section {
    background: white;
    padding: 60px 20px 20px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .content-nb .sidebar .section .section-title {
    margin: 10px 0px 10px 0px;
  }
  
  .content-nb .sidebar .section.search {
    margin-top: 80px;
  }
  
  .content-nb .sidebar .section.topics ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    border-top: 1px solid #e0e0e0;
  }
  
  .content-nb .sidebar .section.topics ul li a {
    display: block;
    padding: 15px 0px 15px 0px;
    border-bottom: 1px solid #e0e0e0;
    transition: all 0.3s;
  }
  
  .content-nb .sidebar .section.topics ul li a:hover {
    padding-left: 10px;
    transition: all 0.3s;
  }


  /* Smartphones (portrait and landscape) ----------- */

